*{
    @include prefixer(box-sizing, border-box, webkit moz)
}
body{
    min-height: 5000px;
}
.container{
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    @media #{$minSmall} {
        width: 750px;
    }
    @media #{$minMedium} {
        width: 970px;
    }
    @media #{$maxLarge} {
        width: 1170px;
    }
}
.clearfix{
    clear: both;
}
.text-c-xs{
    @media #{$maxMobile}{
        text-align: center;
    }
}